.filter__types {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        padding: 10px;
        margin: auto;
        width: auto;
        border: 1px solid $secondary-text;
        border-radius: 30px;
        margin-top: 10px;
        font-weight: 400;
        box-sizing: border-box;
        &:hover {
            cursor: pointer;
            border: 2px solid black;
        }
    }
}

  
  /* Style when the amenity is selected */
  .dropdown-item.selected , .dropdown-item:hover {
    background-color: $light-gray;
    border: 2px solid $black;
  }
  

  
  /* Optional: Style for the icon within the item */
  .dropdown-item svg {
    margin-right: 8px; /* Space between the icon and the text */
  }
  