.filter__types {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 10px;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        padding: 10px;
        margin: auto;
        width: auto;
        border: 1px solid $light-gray;
        border-radius: 30px;
        margin-top: 10px;
        font-weight: 400;
        box-sizing: border-box;
        color: $dark-charcoal;
        &:hover {
            cursor: pointer;
            border: 1px solid black;
        }
    }
}

  
  /* Style when the amenity is selected */
  .dropdown-item.selected  {
    background-color: $light-gray;
    border: 1px solid $black;

  }
  

  
  /* Optional: Style for the icon within the item */
  .dropdown-item svg {
    margin-right: 8px; /* Space between the icon and the text */
  }
  