.filter-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .filter-button {
    @include input ($white, 100px);
    display: flex;
    align-items: center;
    font-size: 13px;
    letter-spacing: 0.5px;
    justify-content: space-between;
    .MuiSvgIcon-root {
      font-size: x-large;
    }
  
}
  
.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55px;
  right: -60%; /* Ensure the dropdown is within view */
  background-color: $white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 460px;
  height: 400px;
  overflow-y: auto;

  z-index: 10;
    .dropdown__header {
      display: flex;
      justify-content: center;
      padding: 0px;
      margin: 0px;
      height: 70px;
      background-color: white;
      border-bottom: 1px solid $light-gray;
      width: 100%;
      position: sticky;
      z-index: 2;
      top: 0;
      h3 {
        margin-top: 10px;

      }
    }
    .lease__type {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        padding: 20px;
        .lease__typeText {
          display: flex; /* Align checkboxes vertically */
          gap: 10px; /* Add spacing between checkboxes */
          justify-content: center;

        }
        
        .dropdown-item {
          display: flex;
          justify-content: center; /* Center the checkbox and label horizontally */
          align-items: center; /* Vertically align the checkbox and label */
          font-size: 12px;
          font-weight: 500;
          border: 1px solid $light-gray;
          border-radius: 5px;
          padding: 10px;
          cursor: pointer;
          gap: 10px; /* Space between checkbox and label */
          text-align: center; /* Optional, ensures text is centered if multiline */
        }
        
        .dropdown-item input {
          margin: 0; /* Remove default margin */
          width: auto;
        }
        
        .dropdown-item:hover {
          background-color: $light-gray;
        }
        .dropdown__itemChecbox {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 8px;
          height: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          position: relative;
          cursor: pointer;
        }
        .dropdown__itemChecbox:checked {
          background-color: $vibrant-orange; 
        }
        .dropdown__itemChecbox:checked::before {
          content: '✔'; /* Default checkmark */
  position: absolute;
  top: 0;
  left: 2px;  /* Adjust to position the checkmark properly */
  font-size: 20px;
  color: white;  /* White color for the checkmark */
  line-height: 20px;
        }
    }
    .price__range {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: auto;
      padding: 20px;
      width: 100%;
        h4 {
          text-align: center;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;
          color: $secondary-text;
        }
        .price-range-slider {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          .MuiSlider-rail {
            background-color: $soft-orange;
          }
    
          .MuiSlider-track {
            background-color: $soft-orange; // Custom track color
          }
    
          .MuiSlider-thumb {
            background-color: $soft-orange; // Custom thumb color// Thumb border
          }
          
        }
        .price-range-labels {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: 10px;
          font-size: 14px;
          color: $secondary-text;
          span {
            border: 1px solid $light-gray;
            padding: 10px;
            border-radius: 30px;
          }
        }
      }
      .filter__amenities {
        display: flex;
        flex-direction: column;
   
        h4 {
            padding: 20px;
            padding-bottom: 0px;
        }
      }

     
}
.dropdown__footer {
  position: sticky;
  padding: 15px;
  width: 100%;
  bottom: 0;
  background-color: $white;
  border-top: 1px solid $light-gray;
  display: flex;
  justify-content: space-between; /* Align buttons on both ends */
  align-items: center; /* Center align vertically if needed */

  .clear__button {
    @include button($black, $white);
    margin: 0px;
    border: none;
    font-weight: bold;
    &:hover {
      
    background-color: $light-gray;
    }
  }

  .apply__button {
    @include button($white, $black);
    margin: 0px;
    font-weight: bold;
  }
}
