// DateRangePicker.scss

$airbnb-red: #ff5a5f;
$light-red: #ffddd2;
$border-color: #ddd;
$input-border-radius: 5px;

.pickDate {
  display: flex;
  align-items: center;
  position: relative;

  .calendar-icon {
    font-size: 32px; /* Adjust icon size */
    cursor: pointer;
    color: $airbnb-red;
    margin-right: 10px;
    transition: color 0.3s ease;
    
    &:hover {
      color: darken($airbnb-red, 10%);
    }
  }

  .datepicker-container {
    width: 350px;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 10;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    .react-datepicker__input-container {
      margin-bottom: 10px;

      input {
        border-radius: $input-border-radius;
        border: 1px solid $border-color;
        padding: 10px;
        width: 100%;
        font-size: 14px;
        box-sizing: border-box;
      }
    }

    .react-datepicker__header {
      background-color: $airbnb-red;
      border-radius: 10px 10px 0 0;
      color: #fff;
    }

    .react-datepicker__day {
      font-size: 16px;
      line-height: 2rem;

      &:hover {
        background-color: $airbnb-red;
        color: #fff;
      }
    }

    .react-datepicker__day--selected {
      background-color: $airbnb-red;
      color: white;
    }

    .react-datepicker__day--in-range {
      background-color: $light-red;
    }
  }
}
