/* DateRangePicker.scss */

/* Hide everything except the calendar */
.rdrDefinedRangesWrapper,
.rdrDateRangePickerWrapper > button {
  display: none;
}

/* Customize the calendar appearance */
.rdrCalendarWrapper {
  background-color: $white;
  padding: 10px;
}

/* Remove green color from today's date */
.rdrDayToday .rdrDayNumber span {
  background-color: transparent;
  color: $dark-charcoal;
}
.rdrDateDisplayItem { 
    display: none;
}

/* General styling for days */
.rdrDayNumber span {
  color: $dark-charcoal;
}

.rdrDaySelected .rdrDayNumber span {
  background-color: $vibrant-orange;
  color: $white;
}

.rdrDayDisabled span {
  color: $secondary-text;
}
.range__picker { 
  display: flex;/* Allow the inputs to wrap */


  .input-container { 
      display: flex;
      align-items: center; /* Align elements properly */
  }

  .start, .end {
      @include input($white, 120px); /* Keep input styling */
      margin: 0px; /* Reset margin if needed */
  /* Ensure inputs take full container width */
      box-sizing: border-box; /* To include padding and borders in width calculation */
  }
}

.picker-container {
    position: absolute;; /* Position it below the input field */
    z-index: 1000;
    margin-top: 60px;
    width: auto; /* Adjust the width as needed */
    background-color: $white;
    border: 1px solid $dark-charcoal;
    border-radius: 8px;
}



.clear-icon { 
     padding: 2px !important;
    position: absolute; /* Make sure the icon is placed outside of the input */
    right: 35px; /* Adjust icon's right positioning */
    top: 10%; /* Vertically center the icon */
    transform: translateY(-20%); /* Ensure it's properly centered */
    &:hover { 
    background-color: $vibrant-orange !important;
    }
}
.clear-icon > .MuiSvgIcon-root { 
    font-size: large !important;
    color: $black !important;
}