.stayType {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  .stayType__inputContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
    .stayType__input {
      @include input($white, 170px); // Assuming this is a mixin for input styling
      align-items: center;
      justify-content: center;
      margin: auto;
      box-sizing: border-box;
      font-size: 14px;
      position: relative;
      
    }
    .stayType__clearIcon {
        position: absolute;
        padding: 2px;
        top: 50%; /* Align icon to the right inside input */
        right: 5px;
        transform: translateY(-50%);
        cursor: pointer;
        &:hover {
            background-color: $vibrant-orange !important; /* Customize hover effect */
          }
    }
    .MuiSvgIcon-root {
        font-size: large;
        color: $black; 
    }
  
    .stayType__dropdown {
      position: absolute;
      top: calc(100% + 2px); /* Position dropdown slightly below the input */
      left: 0;
      width: 160px;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 10;
       /* Initially hide the dropdown */
    }
  
    .stayType__item {
      padding: 8px;
      cursor: pointer;
    border-bottom: 1px solid $light-gray;
    font-size: 14px;
    
    }
  
    .stayType__item:hover {
      background: $light-gray;
    }
  
    /* Show the dropdown when a class like "open" is added to .stayType */
    &.open .stayType__dropdown {
      display: block;
    }
  }
  