.search__section { 
  display: flex;
  align-items: center
}
.search__section > input {
  @include input($white, 250px);
  margin: auto;
}
.autocomplete-dropdown-container {
  position: absolute;
  left: auto;
  width: 460px;
  margin-top: 13.5%;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 1;
  max-height: 200px;
  overflow: hidden;

}

.suggestion-item {
  padding: 10px;
  width: 550px;
  cursor: pointer;
  border-bottom: 1px solid #dcdcdc;
}

.suggestion-item--active {
  background-color: #f1f1f1;

  padding: 10px;
  width: 550px;
  cursor: pointer;
  border-bottom: 1px solid #dcdcdc;
}

.loading-message {
  padding: 10px;
}
