// For button 

@mixin button($color,  $bg-color, $padding: 10px 15px, $radius: 5px) {
    color: $color;
    background-color: $bg-color;
    padding: $padding;
    border: 2px solid $color;
    border-radius: $radius;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  
    &:hover {
      background-color: ($light-gray, 10%);
      transform: scale(1.05);
    }

    &:active {
        background-color: ($light-gray, 15%);
        transform: scale(0.98);
    }
  }

  @mixin input ( $color, $width: 300px) {
    width: $width;
    background-color: $color;
    border-radius: 50px;
    height: 45px;
    padding: 10px 10px 10px 15px;
    border: none;
    border-right: 2px solid $light-gray;
  font-size: 1rem;
  
  
  &:hover { 
    background-color: $light-gray;
    cursor: pointer;
  }
  }


  // Responsiveness

  @mixin respond-to($breakpoint) {
    @if $breakpoint == 'mobile' {
      @media (max-width: 576px) { @content; }
    } @else if $breakpoint == 'tablet' {
      @media (max-width: 768px) { @content; }
    } @else if $breakpoint == 'desktop' {
      @media (max-width: 1200px) { @content; }
    }
  }
  