.header { 
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $white;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick it to the top of the page */
    z-index: 1000; /* Ensures it stays above other content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.header__content { 
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 10px;
    align-items: center;
   
}
.header__left { 
    img {
        width: 130px;
        height: 60px;
        &:hover {
            cursor: pointer;
        }
    }
    
}
.header__middle { 
    display: flex;
    width: auto;
    background-color: $white;
    justify-content: flex-start;
    height: 47px;
    align-items: center;
    border-radius: 30px;
    border: 1px solid $light-gray;
    padding: 1px;
    box-shadow: none;
    .search__icon{ 
        font-size: 43px;
        background-color: $vibrant-orange;
        border-radius: 30px;
        padding: 8px;
        margin: 2px;
        cursor: pointer;
        &:hover {
            background-color: $soft-orange;
        }
    }
}

.header__right {
    align-items: center;
    justify-content: center;
    .MuiAvatar-root { 
        font-size: 30px;
        cursor: pointer;
    }
}
