.header { 
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $white;
}
.header__content { 
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 10px;
    align-items: center;
}
.header__left { 
    img {
        width: 130px;
        height: 60px;
    }
    
}
.header__middle { 
    display: flex;
    width: auto;
    background-color: $white;
    justify-content: flex-start;
    height: 47px;
    align-items: center;
    border-radius: 30px;
    border: 1px solid $light-gray;
    padding: 1px;

    
    .search__icon{ 
        font-size: 43px;
        background-color: $soft-blue;
        border-radius: 30px;
        padding: 8px;
        margin: 2px;
        &:hover { 
            background: $vibrant-orange;
            cursor: pointer;
        }
    }
}

.header__right {
    align-items: center;
    justify-content: center;
    .MuiAvatar-root { 
        font-size: 30px;
        cursor: pointer;
    }
}

