.header { 
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $light-gray;
}
.header__content { 
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 10px;
    align-items: center;
}
.header__left { 
    img {
        height: 60px;
        width: 80px;
        padding: 2px;
    }
    h3 {
        color: $dark-charcoal;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.header__middle { 
    display: flex;
    width: auto;
    background-color: $white;
    justify-content: flex-start;
    height: 50px;
    align-items: center;
    border-radius: 30px;
    padding: 2px;
    .search__icon{ 
        font-size: 45px;
        background-color: $soft-blue;
        border-radius: 30px;
        padding: 8px;
        &:hover { 
            background: $vibrant-orange;
            cursor: pointer;
        }
    }
}

.header__right {
    align-items: center;
    justify-content: center;
    .MuiAvatar-root { 
        font-size: 30px;
        cursor: pointer;
    }
}

