.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-top: 10px;
    h2 {
        padding-left: 100px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .home__cardContainer {
        margin: auto;
        width: 90%;
    }
    
      
      
 
}
