.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-top: 10px;
    h2 {
        padding-left: 100px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .react-multi-carousel-list {
        max-width: 90%; 
        overflow: hidden; 
        margin: auto;
        padding: 0px;
        position: relative;  
     
        background-color: pink !important;   /* Ensure relative positioning for correct clipping */
      }
      .react-multi-carousel-track {
        
      } 
      .react-multi-carousel-item {    
       
}
      
    
      
      
 
}