/* Container for the gallery */
.galleryData {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  background-color: $light-gray;
}

/* Gallery container */
.gallery__container {
  display: flex;
}

/* First image that takes full height and 50% width */
.gallery__first-image {
  width: 100%;
  height: 450px; /* Larger height for the first image */
  margin-bottom: 20px;
 
}

.gallery__first-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the area without stretching the image */
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  &:hover {
    filter: opacity(0.9);
  }
}

/* Grid layout for the rest of the images */
.gallery__grid {
  display: flex;
  gap: 20px;
}

.gallery__grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  &:hover {
    filter: opacity(0.9);
  }
  
}

.gallery__grid img:hover {
  transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 768px) {
  .gallery__first-image {
    width: 100%; /* On mobile, first image takes up full width */
    height: 300px;
  }

  .gallery__grid {
    grid-template-columns: 1fr; /* Single column on mobile */
  }
}
